[project]
	description = Puppet scripts for managing JioCloud
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vaidyanath (Vaidyanath)
[access "refs/for/refs/*"]
	read = group user/Vaidyanath (Vaidyanath)
	push = group user/Vaidyanath (Vaidyanath)
	label-Code-Review = -2..+2 group user/Vaidyanath (Vaidyanath)
	label-Verified = -1..+1 group user/Vaidyanath (Vaidyanath)
	rebase = group user/Vaidyanath (Vaidyanath)
	removeReviewer = group user/Vaidyanath (Vaidyanath)
	submit = group user/Vaidyanath (Vaidyanath)
[access "refs/heads/*"]
	read = group user/Vaidyanath (Vaidyanath)
	create = group user/Vaidyanath (Vaidyanath)
	push = +force group user/Vaidyanath (Vaidyanath)
	pushMerge = group user/Vaidyanath (Vaidyanath)
[access "refs/tags/*"]
	push = +force group user/Vaidyanath (Vaidyanath)
	pushTag = group user/Vaidyanath (Vaidyanath)
	pushSignedTag = group user/Vaidyanath (Vaidyanath)
